body {
  padding-top: 6em;
}

nav {
  background-color: #BCE6D4;
}

nav .navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 0 0;
  max-width: 100px;
}

nav .navbar-toggler {
  color: #FFF1AC;
}

nav ul .active a {
  color: #064329;
  background-color: white;
}

nav ul .active a:hover {
  background-color: #FFDED0;
  color: #00120A;
}

nav ul li a {
  color: #622209;
}

nav ul li a:hover {
  color: #1B0800;
}

.parallax {
  /* The image used */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .semi-trans {
  background: #277553;
  background: rgba(39, 117, 83, 0.7);
}

.attraction {
  margin-bottom: 1em;
}

.attraction .card {
  padding: 1em;
  text-align: center;
  color: #064329;
  border-width: 1em 0;
  border-style: double;
  border-color: #064329;
  border-radius: 15%;
}

.attraction .card:hover {
  color: #277553;
}

.attraction .card span {
  font-size: 5em;
  color: #AA5939;
}

.attraction .card span:hover {
  color: #F2A88B;
}

form {
  padding: 3%;
}

.carousel .carousel-inner .carousel-item img,
.carousel .carousel-inner .carousel-item a {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

.footer-style {
  padding-top: 10px;
}

.social {
  font-size: 3em;
}
