body {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: black;
  color: #eee;
}

.jumbotron {
  background-color: #111;
}

.jumbotron h1 {
  color: #008EB6;
}

form {
  border: 1px solid #999;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
}



.btn {
  background-color: #00233F;
  color: white;
  border: 1px solid #eee;
}

.btn:hover {
  background-color: #008EB6;
}