asgiref==3.2.5
Django==3.0.4
django-classy-tags==1.0.0
django-cms==3.7.2
django-debug-toolbar==2.2
django-filter==2.2.0
django-formtools==2.2
django-sass==1.0.0
django-sass-processor==0.8
django-sekizai==1.1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-animate-on-scroll==1.0.1
djangorestframework==3.11.2
gunicorn
libsass==0.19.4
pyparsing==2.4.7
pytz==2019.3
scss==0.8.73
six==1.14.0
sqlparse==0.3.1
