
body {
    font-family: "Roboto Slab", serif;
}

h1, h2, h3, h4 {
    color: $primary-color-dark;
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
}


.inline-icon {
    float: left;
}

.parallax-container {
    .parallax {
        img {
            width: 125%;
        }
    }
}

section, .container {
    margin-bottom: 12em;
    img {
        margin-top: 3em;
    }

    p {
        text-align: left;
        font-size: larger;
    }
    h1 {
        margin-bottom: 1em;
    }
}

.badge {
    margin-bottom: 1em;
}

.icon-container {
    text-align: center;
    margin-bottom: 30px;
    .language-icon {
        transition-duration: .5s;
        font-size: 6vw;
        line-height: 120%;
        transition: color .5s cubic-bezier(0.12, 1.35, 0.41, 1.76) 0s;
        &:hover {
            color: $secondary-color;
        }
    }
}

@keyframes blue-fade-in-out {
    from {
        color: #fff;
    }
    to {
        color: $secondary-color;
    }
}