
body {
    font-family: "Roboto Slab", serif;
}

h1, h2, h3, h4 {
    color: $primary-color-dark;
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
}

.inline-icon {
    float: left;
}

.parallax-container {
    .parallax {
        img {
            width: 125%;
        }
    }
}

section {
    padding-bottom: 12em;
    img {
        margin-top: 3em;
    }
    p {
        text-align: left;
        font-size: larger;
    }
    h1 {
        margin-bottom: 1em;
    }
}

.badge {
    margin-bottom: 1em;
}