<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

{#        <script defer src="{% static 'frontend/js/font-awesome-all.js' %}"></script>#}
        <title>Dave & Rick Wells Consulting</title>
        <link rel="stylesheet" href="{% static 'frontend/css/app.css' %}">
    {% endblock %}
</head>
    <body>
        {% include "frontend/includes/nav.html" %}
        {% block body %}

        {% endblock %}

        <footer>
            {% include "frontend/includes/footer.html" %}
        </footer>

     <!-- Boostrap CDN scripts -->
    </body>
</html>