<div class="container-fluid footer-style background-color-secondary-2-2 color-primary-3">
	<div class="row">
		<div class="col-sm">
			<address>
			David & Rick Wells Consulting<br/>
			<a href="mailto:dave1.t.wells@gmail.com">dave1.t.wells@gmail.com</a><br/>
			970-691-3143<br/>
			1005 Skyline Drive<br/>
			Fort Collins, CO 80521
			</address>
		</div>
		<div class="col-sm" style="text-align: right;">
			<span style="font-size: xx-large;">Social Media</span><br/>
			<div class="social" >
				<i class="fab fa-facebook-square"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-instagram"></i>
			</div>
		</div>
	</div>
	<div style="text-align: center">
		&copy; 2020 David & Rick Wells Consulting
	</div>
</div>
